body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#0f172a;
  color:white;
}

nav {
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#020617;
}

nav ul {
  list-style:none;
  display:flex;
  gap:20px;
}

nav a {
  color:white;
  text-decoration:none;
}

header {
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(135deg,#2563eb,#9333ea);
}

.btn {
  display:inline-block;
  margin-top:20px;
  padding:10px 20px;
  background:white;
  color:black;
  border-radius:6px;
  text-decoration:none;
  font-weight:bold;
}

section {
  padding:50px 20px;
}

.skill {
  margin:20px 0;
}

.bar {
  background:#1e293b;
  height:10px;
  border-radius:5px;
}

.bar span {
  display:block;
  height:10px;
  background:#22c55e;
  border-radius:5px;
}

.card {
  background:#020617;
  padding:20px;
  margin:20px 0;
  border-radius:10px;
  transition:0.3s;
}

.card:hover {
  transform:scale(1.05);
}

footer {
  text-align:center;
  padding:20px;
  background:black;
}
